.goBack {
    text-align: right;
    button {
        margin: 20px 0;
        border: none;
        cursor: pointer;
        background-color: inherit;
        text-decoration: underline;
    }
}