@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;400;600&family=Open+Sans:wght@300&display=swap');

// font-family: 'Hahmlet', serif;
// font-family: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Hahmlet', serif;
}

h1, h2, h3, h4, h5, h6, p, a {
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Hahmlet', serif;
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  padding: 0 10px;
}
h2 {
  font-family: 'Hahmlet', serif;
  font-size: 38px;
  font-weight: 200;
  margin: 0;
}
h3 {
  font-size: 32px;
  font-weight: 200;
  margin: 0;
}
h4 {
  font-size: 26px;
  margin: 0;
}
h5 {
  font-size: 22px;
  margin: 0;
}
h6 {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 20px;
  margin: 0;
  color: #3e3e3e;
  font-family: 'Open Sans', sans-serif;
}

/* tablet */
@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
}
