.homeContainer {
  width: 100%;
  .iBuildDigital {
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin: 100px auto;
    section {
      margin: auto;
      h2 {
        font-size: 40px;
        font-weight: 100;
        text-align: right;
        width: 140px;
        margin: 30px auto;
        span {
          font-weight: bold;
        }
      }
    }
    figure {
      img {
        width: 100px;
      }
    }
    img {
      width: 100%;
      max-width: 400px;
    }
  }
  .homeTitle {
    width: 100%;
    max-width: 800px;
    padding: 50px 10px;
    margin: 100px auto;
    text-align: center;
    position: relative;
    section {
      line-height: 30vh;
    }
    .homeBlueCircle {
      width: 300px;
      height: 300px;
      border: none;
      border-radius: 50%;
      background-color: #2530c9c2;
      position: absolute;
      left: 0;
      top: 0;
      filter: blur(60px);
      animation: blinker 5s linear infinite;
    }
    .homePinkCircle {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #F9C9CE;
      position: absolute;
      right: 0;
      filter: blur(50px);
      animation: blinker 4s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
  .pinkBackground {
    background: linear-gradient(to bottom, #ffffff, #F9C9CE);
    padding: 150px 50px;
    .pinkContainer {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      // background: #ffffff59;
      background: linear-gradient(to bottom, #ffffff00, #ffffff54);
      border-bottom-right-radius: 45px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 45px;
      }
      section {
        padding: 30px;
        text-align: left;
      }
    }
  }
  .services {
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    margin: 0px auto;
    h2 {
      margin-left: 20px;
      line-height: 250px;
      height: 250px;
    }
    figure {
      padding: 20px;
      img {
        margin: 10px 10px 10px 0;
        object-fit: cover;
      }
    }
    .servicesTitle {
      position: relative;
      .BlueCircle {
        width: 160px;
        height: 160px;
        background-color: #2530C9;
        filter: blur(50px);
        position: absolute;
        top: 10px;
        left: 0;
        animation: blinker 7s linear infinite;
      }
      .PinkCircle {
        width: 180px;
        height: 180px;
        background-color: #F9C9CE;
        filter: blur(30px);
        position: absolute;
        right: 10px;
        bottom: 0;
        animation: blinker 5s linear infinite;
      }
      @keyframes blinker {
        50% {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
  .consultation {
    text-align: center;
    color: white;
    background-color: #2530C9;
    margin-top: 20px;
    // margin-bottom: 50px;
    section {
      padding: 20px;
    }
    button {
      border-radius: 5px;;
      border: solid 1px #ffffff;
      padding: 15px 25px;
      margin: 20px 0;
      color: #ffff;
      background-color: inherit;
    }
    // .diagonal {
    //   background-color: #2530C9;
    //   width: 100%;
    //   height: 100%;
    //   max-height: 190px;
    //   // transform: rotate(-1.4deg);
    //   // transform: skew(-5deg);
    //   transform-origin: left;
    //   position: absolute;
    //   z-index: -10;
    //   overflow: hidden;
    //   }
  }
  .freelancer {
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    margin: 0px auto;
    img {
      width: 100%;
    }
  }
  .faq {
    background-color: #F2F1EC;
    .container {
      width: 100%;
      max-width: 1000px;
      padding: 50px;
      margin: 0px auto;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.displayMobileHideDesktop {
  display: none;
}

/* Tablet */
@media (max-width: 900px) {
  .homeContainer  {
    text-align: center;
    .hideMobile {
      display: none;
    }
    .pinkBackground {
      padding: 100px 50px;
      .pinkContainer {
        img {
          max-height: 200px;
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .homeContainer {
    section {
      margin: 10px;
      p {
        font-size: 16px;
      }
    }
    .pinkBackground {
      padding: 15px;
      .pinkContainer {
        img {
          max-height: 200px;
        }
        section {
          padding: 15px;
        }
      }
    }
  }
  .displayMobileHideDesktop {
    display: block;
    padding: 50px 20px;
    section {
      h2 {
        margin: 25px 0;
        text-align: center;
      }
      p {
        line-height: 2;
      }
    }
  }
}
