.homeContainer {
  max-width: 1200px;
  margin: 100px auto;
  .hideMobile {
    display: block;
  }
  section {
    position: relative;
    top: 20%;
    margin: auto;
    h1, p {
      font-weight: 100;
    }
    h1 {
      span {
        background: -webkit-linear-gradient(#FF3EEC, #150013);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      margin-top: 10px;
      padding-left: 10px;
    }
  }
  img {
    width: 100%;
  }
}
.displayMobileHideDesktop {
  display: none;
}

/* Tablet */
@media (max-width: 900px) {
  .homeContainer  {
    text-align: center;
    .hideMobile {
      display: none;
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .homeContainer {
    section {
      margin: 50px 10px;
      p {
        font-size: 16px;
      }
    }
  }
  .displayMobileHideDesktop {
    display: block;
    padding: 50px 20px;
    section {
      h2 {
        margin: 25px 0;
        text-align: center;
      }
      p {
        line-height: 2;
      }
    }
  }
}
