.pageContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 50px auto;
    section {
        h1 {
            max-width: 1200px;
            margin: 50px 20px;
        }
        p {
            line-height: 2.1;
        }
    }
}
.blogCardContainer {
    justify-content: space-between;
}

/* Tablet */
@media (max-width: 768px) {
    .pageContainer {
        padding: 10px;
        margin: 0;
        section {
            h1 {
                margin: 60px auto 20px auto;
            }
        }
    }
}

/* Mobile */
@media (max-width: 425px) {
    .pageContainer {
        padding: 10px;
        margin: 0;
    }
}
