.pageContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 50px auto;
    padding: 10px;
    section {
        text-align: left;
        h1 {
            max-width: 1200px;
            margin: 50px 0;
        }
        h2 {
            margin: 20px 0;
        }
        p {
            line-height: 1.4;
        }
    }
    .aboutMe {
        text-align: center;
        margin: 50px auto;
        width: 100%;
        max-width: 1200px;
        section {
            margin-bottom: 30px;
        }
        h3,p {
            text-align: left;
            margin: 0 auto 10px auto;
        }
        img {
            width: 80%;
            border-radius: 50%;
            margin: 30px 0;
        }
    }
    .filterProjects {
        display: flex;
        margin-bottom: 30px;
        &__checkbox {
            padding: 10px 30px;
            label {
                padding: 10px 30px;
                &:hover {
                    cursor: pointer;
                }
                span {
                    color: #000000;
                    padding-left: 10px;
                }
            }
        }
    }
    .webDesign {
        margin: 0 auto 50px auto;
        text-align: center;
        &__layout {
            border-bottom-right-radius: 80px 80px;
            border-top-left-radius: 80px 80px;
            box-shadow: 4px 4px 10px #dddddd;
        }
        &__card {
            margin-bottom: 30px ;
            padding: 10px 35px;
            section {
                height: 140px;
                padding: 0 20px;
                h6 {
                    color: #757575;
                }
            }
            img {
                width: 100%;
                height: 200px;
                margin-bottom: 10px;
                padding: 10px;
                object-fit: cover;
                border-bottom: solid 1px #f5f5f5;
                border-top-left-radius: 80px 80px;
            }
            ul {
                list-style: none;
                margin-top: 10px;
                li {
                    color: #70b7d9;
                    text-decoration: underline;
                }
            }
        }
    }
    .contact {
        p {
            span {
                font-weight: bold;
            }
        }
        img {
            object-fit: cover;
            width: 100%;
        }
        button {
            margin: 20px 0;
        }
        section {
            margin: 0  34px 20px 34px;
        }
        figure {
            text-align: center;
            img {
                height: auto;
                max-width: 150px;
                display: block;
                margin: 50px 34px;
                object-fit: cover;
            }
        }
    }
}
.colorChangingBackground {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.colorfulShapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(135deg, #2196F3, #E91E63);
    animation: changeColors 10s infinite;
}
@keyframes changeColors {
    0%, 25% { background: linear-gradient(135deg, #2196F3, #E91E63); }
    50%, 75% { background: linear-gradient(135deg, #E91E63, #FFEB3B); }
    100% { background: linear-gradient(135deg, #FFEB3B, #2196F3); }
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.hideMobile {
display: block;
}
.hideDesktop {
display: none;
}
.footerContainer {
    background: #262626;
    .footerWrapper {
        
        p {
            color: #939393;
        }
        a {
            color: #939393;
            transition: 0.3s;
            &:hover {
            color: #ffffff;
            }
        }
        h6 {
            color: #e1e1e1;
        }

    }

}

/* Tablet */
@media (max-width: 768px) {
    .pageContainer {
        padding: 10px;
        margin: 0;
        .contact {
            figure {
                img {
                    margin: 10px auto;
                }
            }
        }
        .aboutMe {
            img {
                top: 0;
            }
        }
        .filterProjects {
            display: block;
            &__checkbox {
                border-bottom: solid 1px #cdcdcd;
                label {
                    width: 100%;
                    transition: height 0.3s ease-out;
                    display: block;
                    margin-right: 20px;
                }
            }
        }
        .webDesign {
        &__card {
            margin-bottom: 30px ;
            padding: 10px 15px;
            }
        }
        .contact {
            img {
                height: 200px;
            }
        }
        section {
            h1 {
                margin: 60px auto 20px auto;
            }
            h2 {
                text-align: center;
            }
        }
    }
}

/* Mobile */
@media (max-width: 425px) {
    .hideMobile {
        display: none;
    }
    .hideDesktop {
        display: block;
    }
    .pageContainer {
        padding: 10px;
        margin: 0;
        section {
            p {
                line-height: 1.8;
            }
        }
    }
}
