.pageContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 50px auto;
    padding: 10px;
    section {
        text-align: left;
        h1 {
            max-width: 1200px;
            margin: 50px 0;
        }
        h2 {
            margin: 20px 0;
        }
        p {
            line-height: 2.1;
        }
    }
    .webDesign {
        margin: 0 auto 50px auto;
        text-align: center;
        img {
            width: 90%;
            height: auto;
            margin-bottom: 20px;
            max-height: 400px;
            object-fit: cover;
            box-shadow: 4px 4px 10px #cdcdcd;
        }
        ul {
            list-style: none;
            margin-top: 20px;
            li {
                color: #70b7d9;
                text-decoration: underline;
            }
        }
    }
    .figmaDesign {
        margin-bottom: 70px!important;
        margin: auto;
        section {
            text-align: center;
        }
        &__desktop {
            display: block;
            margin: auto;
        }
        &__tablet {
            display: none;
            margin: auto;
        }
        &__mobile {
            display: none;
            margin: auto;
        }
    }
    .contact {
        p {
            span {
                font-weight: bold;
            }
        }
        img {
            object-fit: cover;
            width: 100%;
        }
        button {
            height: 45px;
            line-height: 45px;
            padding:0 25px;
            margin: 20px 0;
            background-color: inherit;
            border: 1px solid gray;
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 5px;
        }
    }
}
.blogCardContainer {
    justify-content: space-between;
}

/* Tablet */
@media (max-width: 768px) {
    .pageContainer {
        padding: 10px;
        margin: 0;
        .figmaDesign {
            max-width: 800px;
            margin: auto;
            &__desktop {
                display: none;
            }
            &__tablet {
                display: block;
            }
            &__mobile {
                display: none;
            }
        }
        .contact {
            img {
                height: 200px;
            }
        }
        section {
            h1 {
                margin: 60px auto 20px auto;
            }
        }
    }
}

/* Mobile */
@media (max-width: 425px) {
    .pageContainer {
        padding: 10px;
        margin: 0;
        section {
            p {
                line-height: 1.8;
            }
        }
        .figmaDesign {
            max-width: 800px;
            margin: auto;
            &__desktop {
                display: none;
            }
            &__tablet {
                display: none;
            }
            &__mobile {
                display: block;
            }
        }
    }
}
